* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background: #ffffff;
}


header {
    padding: 0px;
    margin-bottom: 0px;
    color: #777777;
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #dddddd;
}


li {
    display: inline;
}

section {
    background-image:"images/dust_scratches.png";
}

footer {
    padding: 20px;  
    margin-bottom: 20px;
    color: #777777;
    background: #666666;
    border-top-color: #4aaaa5;
    border-top-style: solid;
}
