html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', 'Helvetica Neue', Helvetoca, sans-serif;  
}

header {
    width: 960px;
    margin: 0 auto;  
}

nav {
    float: right;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #cccccc;
}

a.portfolio {
    margin: 0 15px;
    padding: 0 15px;
    border-right: 2px solid #cccccc;
    border-left: 2px solid #cccccc;
}

nav a:hover {
    color: #4aaaa5;
}

h2 {
    font-family: 'Georgia', Times,Times New Roman, serif;
    color: #4aaaa5;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;  
}

h1 {
    margin: 0;
    color:#ffffff;
    padding:16px; 
    font-size: 25px;
    background: #4aaaa5;
    display: inline-block;
    font-family: 'Georgia', Times,Times New Roman, serif;
    font-weight: 400;
}

div.wrapper {
    flex: 1 0 auto;
    background-image: url("../images/dust_scratches.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    border-top: 2px solid #cccccc;
}

section {
    width: 960px;
    margin: 0 auto;
    color: #777777;
}

.content {
    padding: 30px;
    background: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc
}

#profile {
    margin-top: 10px;
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 150px;
}

p {
    line-height: 2;
}

footer {
    flex-shrink: 0;
    padding: 0;
    background: #666666;
    border-top-color: #4aaaa5;
    border-top-style: solid;
}

footer p {
    margin: 0;
    color: #ffffff;
    font-size: 0.7em;
    padding: 10px 0;
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    color: #ffffff;
    background: #4aaaa5;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 815px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

img {
    margin-bottom: 10px;
    width: 250px;
}

h3 {
    padding: 10px 104.5px;
    background-color: #4aaaa5;
    display: inline-block;
    margin-right: 900px;
    margin-top: -10px;
}

.right {
    float: right;
    margin-top:-222.5px;
    margin-right: 350px;
}

.left {
    float: left;
    margin-top: 20px;
}

#RPG {
    padding: 10px 105px;
}

#Sports {
    padding: 10px 95px;
    margin-top: -120px;
}

#School {
    padding: 10px 94px;
}

#Gaming {
    padding: 10px 90px;
    margin-top: -120px;
}

#Workout {
    padding: 10px 87.5px;
}