* {
    box-sizing: border-box;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    background: #ffffff;
}
container {
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    background: #ffffff;
    width:40%;
}

h2 {
    font-family: 'Georgia', Times,Times New Roman, serif;
    color: #4aaaa5;
    font-size: 25px;

}

#Name {
    color:#ffffff;
    background: #4aaaa5;
    float: middle;
    padding:16px; 
    font-size: 25px

}

#About {
    float: middle;
    color:#777777;
    background: #ffffff;
    margin-left: 400px;
    border-right-style: solid;
    border-right-color: #cccccc;
}

#Portfolio {
    float: middle;
    color:#777777;
    background: #ffffff;
    margin-left: 50px;
}

#Contact {
    float: middle;
    color:#777777;
    background: #ffffff;
    margin-left: 50px;
}

li {
    display: inline;
}

section {

    font-family: 'Arial', 'Helvetica Neue', Helvetoca, sans-serif;
    background-image: "images/dust_scratches.png";
    border-bottom-style: solid;
    border-bottom-color: #4aaaa5;
    border-top-color: #cccccc;
    border-top-style: solid;

}

footer {
    padding: 20px;  
    margin-bottom: 20px;
    color: #777777;
    background: #666666;
    border-top-color: #4aaaa5;
    border-top-style: solid;
}
